#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #01012b;
  color: white;
}

.input-container {
  margin-bottom: 2%;
}

img {
  max-width: 100%;
  height: auto;
}

.countdown-container {
  max-width: 100%;
  height: auto;
}
